{% extends "base.html" %}

{% block main %}
    <h1>Committee</h1>

    <p> In case you wondered who we were! If you're interested in joining us then contact us at manup@cs.man.ac.uk.
    </p>

<table>
<tr>
<td><img src="/img/daniela.jpg" alt="Daniela Florescu" width="200"></td>
<td>Daniela Florescu</td>
</tr>
<tr>
<td><img src="/img/dragos.jpg" alt="Dragos Romario Rosu" width="200"></td>
<td>Dragos Romario Rosu</td>
</tr>
<tr>
<td><img src="/img/giles.jpg" alt="Giles Reger" width="200"></td>
<td>Giles Reger</td>
</tr>
<tr>
<td><img src="/img/andy.jpg" alt="Andrew Leeming" width="200"></td>
<td>Andrew Leeming</td>
</tr>
<tr>
<td><img src="/img/yegor.jpg" alt="Yegor Guskov" width="200"></td>
<td>Yegor Guskov</td>
</tr>
<tr>
<td><img src="/img/trayton.jpg" alt="Trayton Scott" width="200"></td>
<td>Trayton Scott</td>
</tr>
</table>

{% endblock %}
