{% extends "base.html" %}

{% block main %}
<div class="manual-entry">
<h1> Manual </h1>
<p>
This manual is designed to contain all the necessary information regarding the structure of Manchester
Ultimate Programming, its purpose and its general running. It is mosty likely going to be in a state of
continuous beta, however it is intended to capture the general gist what MAN-UP is all about.
</p>
</div>
<div class="manual-entry">
<a name="mantra"><h2>Mantra</h2></a>
<ul>
	<li>
	We want to create stuff that is worth talking about. Things that not only someone familiar with computer science
	could appreciate but also someone forom outside the field. To make computer science exciting.
	</li>
	<li>
	There are two types of things that can be created in this world: things that are cool and things that are well
	implemented. We want to be able to create things which are both well implemented and cool. As impossible as
	this seems.
	</li>
	<li>
	When it comes down to it, sometimes you've just got to make the thing yourself.
	</li>
	<li>
	Someone out there is better than you and has done more interesting things. Never assume you're the best - but
	at least give it a go.
	</li>
	<li>
	It's all about having a good story to tell at the end.
	</li>
</ul>
<center>
<img src="/img/mantra.jpg"/>
</center>
</div>
<div class="manual-entry">
<a name="goals"><h2>Goals</h2></a>
<ul>
	<li>
	We want to create a sense of friendly competition between the members of the Society
	</li>
</ul>
</div>
<div class="manual-entry">
<a name="activities"><h2>Activities</h2></a>
<p>
There are three main activities that are organised by the society
</p>
<ol>
	<li>
	Meetings
	</li>
	<li>
	Master-classes
	</li>
	<li>
	Hack-a-thons
	</li>
</ol>
</div>
<div class="manual-entry">
<a name="meetings"><h2>Meetings</h2></a>
<p>
These take place every <b> Monday at 5pm in lecture room 1.3</b>, in
the Kilburn Building (you might want to check the <a href="/calendar">calendar</a> to double check).
</p>
<p>
The general outline for what goes in meetings is
</p>
<h3>This week in Tech</h3>
	<p>Where we get to discuss the latest happenings in technology such as what exciting things
	have been happening in Silicon Valley or in Academia.
	</p>
	<h3>Question of the week</h3>
	<p>This an open-ended, tongue in cheek question that is designed to for everyone in the
	group to have fun answering it, e.g., "if you could be any cable, what would you be, and what gender would
	your connectors be?".</p>
	<a name="talks"><h3>Talks / Open Mic for nerds</h3></a>
	<p>This is the open session for any members who want to show off things that they have created.
	Essentially it's a five to fifteen minute slot in front of the group. You can email in advance to let us know you want
	to give a talk, or just say on the day, All are welcome. It is advised you bring your own laptop as there is
	one school computer in the room, but we don't trust it.<p>
	<h3>Hack-a-thon planning/review</h3>
	<p>Where we go over organisational details for upcoming hack-a-thons and also
	reflect on a hack-a-thon after it has taken place - figuring out what worked and what bombed.
	</p>
</div>
<div class="manual-entry">
<a name="master_classes"><h2>Master Classes</h2></a>
<p>These are on (occasional) Wednesday lunchtimes (again see the <a href="/calendar">calendar<a>) for confirmation. These are
where a member of the society gives a talk on something that they have knowlegde of that they think others
should know.</p>
<p> They are also designed to prepare members with the tools/skills needed for upcoming hack-a-thons.</p>
</div>
<div class="manual-entry">
<a name="hackathons"><h2>Hack-a-thons</h2></a>
<p>This is where the real programming happens. Hack-a-thons are competitions held a few times a term (once
again check the <a href="/calendar">calendar</a>). You will be able to work as part of a team to create a solution
that will be pitted against those created by other teams in an attempt to the respect of your peers.</p>
</div>
<h2>One last note</h2>
<p>
The following quote essentially sums up the philosophy behind MAN-UP
</p>
<p><i>
“If you haven’t trashed your computer while doing something questionable, then you’re not a computer scientist – you’re just an arts grad who didn’t get laid”
</i>- Dominic Connor, The Register 
</p>
{% endblock %}