{% extends "base.html" %}

{% block main %}
    {% if member %}
        <h2>{{ member.handle }}</h2>
        {% gravatar member.email %}
            {% if member.real_name %}
            <p> Real name: {{ member.real_name }} </p>
            {% endif %}
            {% if member.email %}
             <p> Email: {{member.email}} </p>
             {% endif %}
        {% if member.bio %}
            <h3>Bio:</h3>
            <p>             
            {% autoescape off %}
            {{ member.bio|safe }}
            {% endautoescape %}
            </p>
        {% endif %}

        {% if member_talks %}
            <h3>Talks: </h3>
            {% for talk in member_talks %}
                <h2>{{ talk.title }}</h2>
                <p>{{ talk.date }}</p>
                <center>
                    <iframe src="{{ talk.video }}" width="400" height="300" frameborder="0"></iframe>
                    <br />
                </center>
                <div>{{ talk.description|safe}}</div>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>No such member</p>
    {% endif %}
{% endblock %}
