{% extends "base.html" %}

{% block main %}
    <h1>News</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <div class="pagedata">
        {% if pagedata.hasPrev %}<a href="/news?page={{ pagedata.prev }}">Previous Page</a>{% endif %}
        {% if pagedata.hasNext %}<a href="/news?page={{ pagedata.next }}">Next Page</a>{% endif %}
    </div>

    {% for news_item in content_list %}
        <div class="newsitem">
            <h2>{{ news_item.title }}</h2>
            <p><!--Author: <a href="/members/{{ news_item.author.handle }}">{{ news_item.author.handle }}</a>,--> Date: {{ news_item.date }}{% if is_admin %}, <a href="/admin/edit/{{ news_item.key }}?edit=news">Edit</a> {% endif %}</p>
            {% if news_item.picture %}
               <center><img src="img?img_id={{news_item.picture.key }}" title="{{news_item.picture.title}}" alt="{{news_item.picture.alt}}" /></center>
            {% endif %}
            {% autoescape off %}
                {{ news_item.body }}
            {% endautoescape %}
        </div>
    {% endfor %}

    <div class="pagedata">
        {% if pagedata.hasPrev %}<a href="/news?page={{ pagedata.prev }}">Previous Page</a>{% endif %}
        {% if pagedata.hasNext %}<a href="/news?page={{ pagedata.next }}">Next Page</a>{% endif %}
    </div>
{% endblock %}
